<%= form_with(model: boring_airline, local: true) do |form| %>
  <% if boring_airline.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(boring_airline.errors.count, "error") %> prohibited this boring_airline from being saved:</h2>

      <ul>
      <% boring_airline.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Content %>
    <%= form.text_area :Content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
